.icons {
    display: flex;
    justify-content: flex-start;
}

.icon {
    font-size: 15px;
    color: #2ea92e;
}

.empty-icon {
    font-size: 2.6rem;
    ;
}

p {
    margin: 0;
    padding-left: 4px;
    font-size: 15px;
}

.icon-style {
    display: flex;
    align-items: center;
}